@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-bg{
    width: 100%;
    height: 70vh;
    background-image:  linear-gradient(0deg, rgb(37, 37, 39), rgba(32, 44, 100, 0.5)),  url('/images/herobg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.service-bg{
    width: 100%;
    height: 40vh;
    background-image:  linear-gradient(0deg, rgb(3, 3, 25), rgba(1, 14, 73, 0.7)),  url('/images/bg_jkt.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
